<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <script src="{% static 'script.js' %}" defer></script>
</head>

<body>
    <div class="container">
        <h1>Welcome to Edura</h1>
        <p>Your AI-powered assistant</p>
        
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("forgotPasswordModal").style.display = "flex";
        });
    </script>


    <div id="forgotPasswordModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="window.location.href = '/';">&times;</span>
        <h2> Email</h2>
        <form method="POST" action="{% url 'forgot_password' %}">
                {% csrf_token %}
                <input type="email", name= "email" placeholder="email" required>
                <button type="submit">Reset</button>
            </form>
            <a href="/register">Sign up</a>
            <a href="/login">Login</a>
        </div>
    </div>

</body>
</html>
